

# example file for passwords, api keys, or env vars
# put any values that we don't want on github here

# Instructions:
# copy this file, replace the values here, and
# remove the .example so the file is named ".env"

# DO NOT NAME THIS FILE ANYTHING OTHER THAN .env
# ONCE THERE IS DATA IN IT

# database
DB_NAME=psedb
DB_USER=admin
DB_PASSWORD=yourpasswordhere

# db for local testing
USE_SQLITE=True