

# example file for passwords, api keys, or env vars
# put any values that we don't want on github here

# Instructions:
# copy this file, replace the values here, and
# remove the .example so the file is named ".env"

# DO NOT NAME THIS FILE ANYTHING OTHER THAN .env
# ONCE THERE IS DATA IN IT



# database
DB_NAME=psedb
DB_USER=admin
DB_PASSWORD=yourpasswordhere

# --- Locally Host Database --- #

# uncomment both of these and find your ip (instructions in client/.env.example)
# to set up local db: https://github.com/LeeuwBas/project-software-engineering/wiki/Development-Environment-Setup

#USE_SQLITE=True
#DOMAIN=127.0.0.1,localhost,10.0.2.2,#<YOUR IP>

